<link rel="stylesheet" href="/css/v2/styleallrecs.css">

<h1>Liste aller Rezepte</h1>

<div>
<div class="letter-bar">
    <span data-letter="A">A</span>
    <span data-letter="B">B</span>
    <span data-letter="C">C</span>
    <span data-letter="D">D</span>
    <span data-letter="E">E</span>
    <span data-letter="F">F</span>
    <span data-letter="G">G</span>
    <span data-letter="H">H</span>
    <span data-letter="I">I</span>
    <span data-letter="J">J</span>
    <span data-letter="K">K</span>
    <span data-letter="L">L</span>
    <span data-letter="M">M</span>
    <span data-letter="N">N</span>
    <span data-letter="O">O</span>
    <span data-letter="P">P</span>
    <span data-letter="Q">Q</span>
    <span data-letter="R">R</span>
    <span data-letter="S">S</span>
    <span data-letter="T">T</span>
    <span data-letter="U">U</span>
    <span data-letter="V">V</span>
    <span data-letter="W">W</span>
    <span data-letter="X">X</span>
    <span data-letter="Y">Y</span>
    <span data-letter="Z">Z</span>
    <span data-letter="other">Andere</span>
</div>

<div class="item-list">

  <div class="tablePos">  
    <h2 id="letter-A">A</h2>
    <table class="recsindex item-list">
        <% recs.forEach(rec => { %>
            <tr class="recsrow" onclick="openRec('<%= rec.recid %>')">
                <td class="recname"><%= rec.recname %></td>
                <td class="duration">Dauer: <%= rec.duration %>min</td>
                <td class="expense"><%= rec.expense %></td>
                <td class="recuser"><%= rec.user && rec.user.length > 0 ? rec.user[0] : 'N/A' %></td>
            </tr>
        <% }); %>
    </table>

    <h2 id="letter-B">B</h2>
        <table class="recsindex item-list">

            <% recs.forEach(rec => { %>
                <tr class="recsrow" onclick="openRec('<%= rec.recid %>')">
                    <td class="recname"><%= rec.recname %></td>
                    <td class="duration">Dauer: <%= rec.duration %>min</td>
                    <td class="expense"><%= rec.expense %></td>
                    <td class="recuser"><%= rec.user && rec.user.length > 0 ? rec.user[0] : 'N/A' %></td>
                </tr>
            <% }); %>
        </table>
  </div>
</div>
    
  <%- include('./partials/darkBgWithFilter.ejs')%>