<link rel="stylesheet" href="/css/v2/stylecal.css"/>

<div class="mainCal">
    <div class="left">
        <div class="left-lower">
            <ul class="tabs">
                <li class="tab">
                    Schon Verwendet
                    <div class="hidden" id="usedRecs"><%= JSON.stringify(usedRecs) %></div>
                    <div class="hidden" id="recsMarkedOne"> <%= JSON.stringify(recsMarkedOne) %></div>
                    <% usedRecs.forEach(recipe => { %>
                        <% var drag = recipe.recname === 'Noch keine Rezepte Verwendet' ? 'false' : 'true'; %>
                        <div class="tab-content draggable" 
                            draggable="<%= recipe.recname === 'Noch keine Rezepte Verwendet' ? 'false' : 'true'; %>" 
                            id="<%= recipe.recid %>"
                            >
                            <span class="tooltip-container"><%= recipe.recname %></span>
                        </div>
                    <% }) %>
                </li>
                <li class="tab">
                    Angepinnt
                    <% markedRecs.forEach(recipe => { %>
                        <% var drag = recipe.recname === 'Keine Rezepte markiert' ? 'false' : 'true'; %>
                            <div class="tab-content draggable" 
                            draggable= <%= drag %> 
                            id="<%= recipe.recid%>">
                            <span class="tooltip-container"><%= recipe.recname %></span> 
                            </div>
                    <% }) %>
                </li>
                <li class="tab" style="display: block;">
                   Alle
                        <% recs.forEach(recipe => { %>
                            <div class="tab-content draggable" style="display: block;" draggable="true" id="<%= recipe.recid%>">
                                <span class="tooltip-container"><%= recipe.recname %></span>
                            </div>
                        <% }) %>
                </li>
            </ul>
        </div>
    </div>
    <div class="calMin">
        <div class="overCal">
            <h1>Sie sehen eine tolle Monatsansicht</h1>
        </div>
        <table>
            <div class="week"><%- include('partials/calendarTabPart.ejs') %></div>
            <div class="week"><%- include('partials/calendarTabPart.ejs') %></div>
            <div class="week"><%- include('partials/calendarTabPart.ejs') %></div>
            <div class="week"><%- include('partials/calendarTabPart.ejs') %></div>
        </table>
        <div class="underCalMain">
            <div class="underCal">
                <button>
                    Neue Liste mit kompletem monat
                </button>
                <button>
                    neue Liste mit individuell
                </button>
                <button>
                    individuell zu liste hinzufügen
                </button>
            </div>

        </div>

    </div>
    <div class="right">
        <%- include('partials/list.ejs') %>
    </div>
</div>
<%- include('./partials/darkBgWithFilter.ejs')%>
<script src="/js/calendarMain.js"></script>
<script src="/js/loadAndDisplayLists.js"></script>
<script src="/js/listCheckboxes.js"></script>
