<link rel="stylesheet" href="/css/v2/styleindex_v3.css">

<div class = "index kumpeln spaceBetween">
  <div class="filterBalken">
    <div class="stapeln" id="buttonWrapper">
            <button class="schnellFilter zentrieren stapeln" onclick="openRecList('warm', 'Hier sind alle warmen Gerichte')">
              <img class="schnellFilterImg" src="/img/warm.png" alt="Filtere nach warmen Rezepten">
              <span>Warm</span>
            </button>
      
            <button class="schnellFilter zentrieren stapeln" onclick="openRecList('hrzhft', 'Hier sind alle herzhaften Gerichte')">
              <img class="schnellFilterImg" src="/img/herzhaft.png" alt="Filtere nach herzhaften Rezepten">
              <span>Herzhaft</span>
            </button>
      
            <button class="schnellFilter zentrieren stapeln" onclick="openRecList('vgtrsch', 'Hier sind alle vegetarischen Gerichte')">
              <img class="schnellFilterImg" src="/img/veg.png" alt="Filtere nach vegetarischen Rezepten">
              <span>Vegetarisch</span>
            </button>
      
            <button class="schnellFilter zentrieren stapeln" onclick="openRecList('vorspeise' , 'Hier sind alle Vorspeisen')">
              <img class="schnellFilterImg" src="/img/vorspeise.png" alt="Filtere nach Vorspeisen">
              <span>Vorspeise</span>
            </button>

            <button class="schnellFilter zentrieren stapeln" onclick="openRecList('hptgrcht', 'Hier sind alle Hauptgerichte')">
              <img class="schnellFilterImg" src="/img/hauptspeise.png" alt="Filtere nach Hauptgerichten">
              <span>Hauptgericht</span>
            </button>

            <button class="schnellFilter zentrieren stapeln" onclick="openRecList('nchtsch', 'Hier sind alle Nachspeisen')">
              <img class="schnellFilterImg" src="/img/nachspeise.png" alt="Filtere nach Nachspeisen">
              <span>Nachspeise</span>
            </button>

            <button class="schnellFilter zentrieren stapeln" onclick="openRecList('spp', 'Hier sind alle Suppen')">
              <img class="schnellFilterImg" src="/img/suppe.png" alt="Filtere nach Suppen">
              <span>Suppe</span>
            </button>

            <button class="schnellFilter zentrieren stapeln" onclick="openRecList('slt', 'Hier sind alle Salate')">
              <img class="schnellFilterImg" src="/img/salat.png" alt="Filtere nach Salaten">
              <span>Salat</span>
            </button>
      
            <button class="schnellFilter zentrieren stapeln" onclick="openRecList('fsch', 'Hier sind alle Fischgerichte')">
              <img class="schnellFilterImg" src="/img/fisch.png" alt="Filtere nach Rezepten, die Fisch enthalten">
              <span>Fisch</span>
            </button>
      
            <button class="schnellFilter zentrieren stapeln" onclick="openRecList('dips', 'Hier sind alle Dips und Saucen')">
              <img class="schnellFilterImg" src="/img/kanne.png" alt="Filtere nach Saucen und Dips">
              <span>Saucen und Dips</span>
            </button>
      
            <button class="schnellFilter zentrieren stapeln" onclick="openRecList('grtn', 'Hier sind alle Aufläufe und Gratins')">
              <img class="schnellFilterImg" src="/img/auflauf.png" alt="Filtere nach Aufläufen">
              <span>Auflauf</span>
            </button>
      
            <button class="schnellFilter zentrieren stapeln" onclick="openRecList('kchn', 'Hier sind alle Kuchen')">
              <img class="schnellFilterImg" src="/img/kuchen.png" alt="Filtere nach Kuchen">
              <span>Kuchen</span>
            </button>
      
            <button class="schnellFilter zentrieren stapeln" onclick="openRecList('brt', 'Hier sind alle brote und Brötchen')">
              <img class="schnellFilterImg" src="/img/broooot.png" alt="Filtere nach Brot und Brötchen">
              <span>Brot und Brötchen</span>
            </button>
      
            <button class="schnellFilter zentrieren stapeln" onclick="openRecList('ndl', 'Hier sind alle Nudelgerichte')">
              <img class="schnellFilterImg" src="/img/nudel.png" alt="Filtere nach Nudelgerichten">
              <span>Nudelgerichte</span>
            </button>
          </div>
  </div>
  <div class="res stapeln">
    <div class="resOben kumpeln spaceBetween">
      <div class="recipes stapeln">
      <tableTitle><%= filterText %></tableTitle>
        <div class="kumpeln spaceBetween tableDiv">
            <table class="noMargin">
              <% recs.forEach(rec => { %>
                <tr onclick="openRec('<%= rec.recid %>')">
                  <td>
                    <recname><%= rec.recname %></recname><br>
                    <recUser><%= rec.user && rec.user.length > 0 ? rec.user[0] : 'N/A' %></recUser>
                  </td>
                  <td>
                    <span>Dauer: <%= rec.duration %> min</span>
                  </td>
                  <td>
                      <img class="stars" src="/img/1star.png" alt="Stern" onload="updateStartAtRec(<%= rec.expense %>, this)" />
                  </td>
                </tr>
              <% }); %>
            </table>          
        </div>
      </div>
      <div class= "calender stapeln">
        <div class="calenderVision stapeln">
          <kalenderTitel>Geplante Rezepte</kalenderTitel>
          <div  id="nextRecs" class="kumpeln spaceBetween">
            <div style="display: none;" id="dataDaysMain"><%= JSON.stringify(dataDays) %></div>
            <div class="nextRecipes stapeln zentrieren" id="firstNextRec">
              <calDatum id="firstNextReccalDatum">DD.MM.YYYY</calDatum>
              <hr class="listTitleLine">
              <calRecNumber id="firstNextReccalRecNumber">X</calRecNumber>
              <div id="firstNextRecDiv">Rezepte</div>
            </div>
            <div class="nextRecipes stapeln zentrieren" id="secondNextRec">
              <calDatum id="secondNextReccalDatum">DD.MM.YYYY</calDatum>
              <hr class="listTitleLine">
              <calRecNumber id="secondNextReccalRecNumber">X</calRecNumber>
              <div id="secondNextRecDiv">Rezepte</div>
            </div>
            <div class="nextRecipes stapeln zentrieren" id="thirdNextRec">
              <calDatum id="thirdNextReccalDatum">DD.MM.YYYY</calDatum>
              <hr class="listTitleLine">
              <calRecNumber id="thirdNextReccalRecNumber">X</calRecNumber>
              <div id="thirdNextRecDiv">Rezepte</div>
            </div>
          </div>
        </div>
        <div class="detailedVision hidden" id="detViewforToday">
         <calDatum><div id="detViewCalDatum">Detailansicht DD.MM.YYYY</div> <div id="detViewCalDuration"></div></calDatum>
          <hr class="detailRecLineTitle">
          <div class="paddingZehn" id="detViewRecHolderMain">

          </div>
        </div>
      </div>
    </div>
    <div class="resUnten">
      <div class="kumpeln spaceBetween actionBalken">
          <button id="addRec" onclick="buttaddrec()" class="action stapeln zentrieren" >
            <img class="actionImg stapeln zentrieren" src="/img/plus.png" alt="Füge Rezepte hinzu">
            <span>Rezept hinzufügen</span>
          </button>

          <button  onclick="getAndShowAllRecs()" class="action stapeln zentrieren">
            <img class="actionImg stapeln zentrieren" src="/img/alle.png" alt="Alle Rezepte anzeigen">
            <span>Alle Rezepte</span>
          </button>

          <button class="action stapeln zentrieren" onclick="reportAny()">
            <img src="/img/ausrufezeichen.png" class="actionImg stapeln zentrieren" alt="Profil">
            <span>Feedback</span>

          <button class="action stapeln zentrieren" onclick="openEditFriend()">
            <img src="/img/freunde.png" class="actionImg stapeln zentrieren" alt="Freunde">
            <span>Freunde</span>
          </button>

          <button  class="action stapeln zentrieren" onclick="openCalView()">
            <img src="/img/cal.png" class="actionImg stapeln zentrieren" alt="Kochkalender">
            <span>Kalender</span>
          </button>

          <button class="action stapeln zentrieren" onclick="openEditLists()">
            <img src="/img/lists.png" class="actionImg stapeln zentrieren" alt = "Listen">
            <span>Listen</span>
          </button>
        </div>
        <!--Knöpfe Aktionen ENDE-->
    </div>
  </div>
  <div class="li">
    <h2>Deine Listen</h2>
        <hr class="listLine">
        <div class="dropdownsLists" id="dropdownsLists">
        
        </div>
  </div>
</div>

<!-- begin of Search filter-->
<div class="darkBg" id="darkBg">
    <div id="filOptionPage" class="filter stapeln zentrieren z-index-high">
      <div class="kumpeln filterHeader spaceBetween">
        <div class="leer"></div>
        <filterTitle>Filter</filterTitle>
        <img class="closeFilter" src="/img/x.png" alt="Schließen" onclick="filBut()">
      </div>
      <hr class="filterLine widthNeunzig">
      <div class="stapeln zentrieren marginZehn widthNeunzig" id="zubDauer">
        Zubereitungsdauer
        <input class="marginZehn" type="range" min="14" max="180" value="14" id="maxDauer" oninput="maxDauerInput()">
        <span class="sliderText" id="maxMin"></span>
      </div>

      <div class="kumpeln widthNeunzig">
        <div class="stapeln zentrieren marginZehn ">
          In Suchergebnisse inkludieren
          <div class="kumpeln">
            <div class="zentrieren stapeln marginZehn">
              <select class="filDropdown" name="zutFilterMainin" id="zutFilterMainin" multiple>
                <!-- hier Optionen für Dropdown Filter für Zutaten -->
                <%- include('partials/ingsInclude.ejs') %>
              </select>
            </div>

            <div class="zentrieren stapeln marginZehn">
              <select class="filDropdown" name="prFilterMainin" id="prFilterMainin" multiple>
                <option value="none">Nichts</option>
                <!-- hier Optionen für Dropdown Filter für Prozesse -->
                <%- include('partials/process.ejs') %>
              </select>
            </div>
          </div>
        </div>
        <div class="verticalLine"></div>
        <div id="exclude" class="stapeln zentrieren marginZehn">
          Aus Suchergebnissen ausschließen

          <div class="kumpeln">
            <div class="zentrieren stapeln marginZehn">
              <select class="filDropdown" name="zutFilterMainex" id="zutFilterMainex" multiple>
                <!-- hier Optionen für Dropdown Filter für Zutaten -->
                <%- include('partials/ingsExclude.ejs') %>
              </select>
            </div>

            <div class="stapeln zentrieren marginZehn">
              <select class="filDropdown" name="prFilterMainex" id="prFilterMainex" multiple>
                <option value="none">Nichts</option>
                <!-- hier Optionen für Dropdown Filter für Prozesse -->
                <%- include('partials/process.ejs') %>
              </select>
            </div>
          </div>

        </div>
      </div>
      <div class="stapeln marginZehn zentrieren">
        <button id="filButSearchFinal" onclick="collectDataForSearch()">Irgendein Senden button</button>
      </div>
    </div>
  </div>

    <!-- end of Search filter-->

<script src="/js/eventListenersOnMain.js"></script>
<script src="/js/loadAndDisplayLists.js"></script>
<script src="/js/listCheckboxes.js"></script>
<script src="/js/collectDataFilter.js"></script>
<script src="/js/scriptIndex.js"></script>