<!-- begin of Search filter-->
<div id="filOptionPage" class="filOptionPage">
  <filHeader class="filGridHeader">Filter</filHeader>
  <div class="filGridArtGericht" id="artGericht"><h3>Art des Gerichts</h3>
    <select class="filDropdown" id="kindOfDishFilterMain" multiple>
      <%- include('./partials/filteroptions.ejs') %>
    </select>
  </div>
  <div class="filGridZubDauer" id="zubDauer"><h3>Zubereitungsdauer</h3>
    <input type="range" min="14" max="180" value="14" class="sliderZubDauer" id="maxDauer" oninput="maxDauerInput()"> 
    <p><span id="maxMin"></span></p>
  </div>
  <div id=exclude><h3>Aus Suchergebnissen ausschließen</h3>

    <div class="filGridInp">
      <select name="zutFilterMainex" id="zutFilterMainex"  multiple>
        <option value="none">Nichts</option>
        <!-- hier Optionen für Dropdown Filter für Zutaten -->
      </select>
    </div>

    <input class="filGridInp" placeholder="Zubehör" id="zubFilternMainEx">

    <div class="filGridInp">
      <select name="prFilterMainex" id="prFilterMainex" multiple>
        <option value="none">Nichts</option>
        <!-- hier Optionen für Dropdown Filter für Prozesse -->
      </select>
    </div>

  </div>
  <div id=include><h3>In Suchergebnisse inkludieren</h3>
    
    <div class="filGridInp">
      <select name="zutFilterMainin" id="zutFilterMainin"  multiple>
        <option value="none">Nichts</option>
        <!-- hier Optionen für Dropdown Filter für Zutaten -->
      </select>
    </div>

    <div class="filGridInp">
      <select name="prFilterMainin" id="prFilterMainin"  multiple>
        <option value="none">Nichts</option>
        <!-- hier Optionen für Dropdown Filter für Prozesse -->
      </select>
    </div>
    <div class="filterSearchButtonOk" id="filterSearchButtonOk"><button onclick="getCurrentSearchConfig()">OK</button></div>
  </div>
</div>
<!-- end of Search filter-->
</div>

<div class="split splitLeft">
    <div>
      <h2>This Website is in development</h2>
      <p>Mehr Text <br> This development is in website</p>
    </div>

  <div>
    <table class="recsindex">
        <tr>
            <th colspan="4"><h1>Neueste Rezepte</h1></th>
        </tr>
        <% recs.forEach(rec => { %>
            <tr class="recsrow" onclick="openRec('<%= rec.recid %>')">
                <td class="recname"><%= rec.recname %></td>
                <td class="duration">Dauer: <%= rec.duration %>min</td>
                <td class="expense"><%= rec.expense %></td>
                <td class="recuser"><%= rec.user && rec.user.length > 0 ? rec.user[0] : 'N/A' %></td>
            </tr>
        <% }); %>
    </table>
  </div>
  <div class="allrecs"><button class="allrecsbuttob" onclick="getAndShowAllRecs()">Alle Rezepte</button></div>

  </div>
  <div id="listArea" class="split splitRight ">
    <div>
      <h2 class="splRiTxt">Text SplitRight</h2>
      <hr class="hoLineSplitRight">
      <ul class="splRiListTxt">
        <li>Auch Text</li>
        <li>Hier</li>
        <li>Wieauchimmer</li>
        <li>man das mit dem</li>
        <li>Adden umsetzt...</li>user
      </ul>
    </div>
  </div>

<button id="addRec" class="addRec" onclick="buttaddrec()">
    <img src = "/img/addrec.png" alt="Füge Rezepte hinzu" width="55px">
</button>
<script></script>
