<!-- begin of Search filter-->
<div id="filOptionPage" class="filOptionPage">
  <filHeader class="filGridHeader">Filter</filHeader>

  <div class="closeDiv">
    <button class="filButClose" onclick="fillButClose()">
    <img width="30px" src="/img/x.png" alt="Filteransicht schließen">
    </button>
  </div>

  <!--filter Start-->
  <div class="filGridZubDauer" id="zubDauer">
    <h3>Zubereitungsdauer</h3>
    <input type="range" min="14" max="180" value="14" class="sliderZubDauer" id="maxDauer" oninput="maxDauerInput()">
    <p><span id="maxMin"></span></p>
  </div>

  <div id=include>
    <filTitles>In Suchergebnisse inkludieren</filTitles>
    <div class="filDropdownLeft">
      <select class="filDropdown" name="zutFilterMainin" id="zutFilterMainin" multiple>
        <option value="none">Nichts</option>
        <!-- hier Optionen für Dropdown Filter für Zutaten -->
      </select>
    </div>

    <div class="filDropdownLeft">
      <select class="filDropdown" name="prFilterMainin" id="prFilterMainin" multiple>
        <option value="none">Nichts</option>
        <!-- hier Optionen für Dropdown Filter für Prozesse -->
      </select>
    </div>
  </div>

  <div id=exclude>
    <filTitles>Aus Suchergebnissen ausschließen</filTitles>

    <div class="filDropdownRight">
      <select class="filDropdown" name="zutFilterMainex" id="zutFilterMainex" multiple>
        <option value="none">Nichts</option>
        <!-- hier Optionen für Dropdown Filter für Zutaten -->
      </select>
    </div>

    <input class="filGridInp" placeholder="Zubehör" id="zubFilternMainEx">

    <div class="filDropdownRight">
      <select class="filDropdown" name="prFilterMainex" id="prFilterMainex" multiple>
        <option value="none">Nichts</option>
        <!-- hier Optionen für Dropdown Filter für Prozesse -->
      </select>
    </div>

  </div>
</div>

<!-- end of Search filter-->

</div>
<div id="nichtFilter">
  <div class="split splitLeft splitLeftGrid">

    <!--Neueste Rezepte-->
    <div class="newRecs">
      <table class="recsindex">
        <tr>
          <th colspan="4">
            <tableHeader>Neueste Rezepte</tableHeader>
          </th>
        </tr>
        <% recs.forEach(rec => { %>
          <tr class="recsrow" onclick="openRec('<%= rec.recid %>')">
            <td>
              <recname><%= rec.recname %></recname> <br>
              <recUser><%= rec.user && rec.user.length > 0 ? rec.user[0] : 'N/A' %></recUser>
            </td>
            <td class="duration">
              <span>Dauer: <%= rec.duration %> min</span>
            </td>
            <td class="expense">
              <!-- prettier-ignore -->
                <img src="/img/1star.png" alt="Stern" onload="updateStartAtRec(<%= rec.expense %>, this)" />
            </td>
          </tr>
        <% }); %>
      </table>
    </div>
    
    <!--Beliebteste Rezepte-->
    <div class="favRecs">
      <table class="recsindex">
        <tr>
          <th colspan="4">
            <tableHeader>Beliebteste Rezepte</tableHeader>
          </th>
        </tr>
        <% recs.forEach(rec => { %>
          <tr class="recsrow" onclick="openRec('<%= rec.recid %>')">
            <td>
              <recname><%= rec.recname %></recname> <br>
              <recUser><%= rec.user && rec.user.length > 0 ? rec.user[0] : 'N/A' %></recUser>
            </td>
            <td class="duration">
              <span>Dauer: <%= rec.duration %> min</span>
            </td>
            <td class="expense">
              
              <img src="/img/1star.png" alt="Stern" onload="updateStartAtRec(<%= rec.expense %>, this) " />
            </td>
          </tr>
        <% }); %>
      </table>
    </div>

    <!--Knöpfe Filter ANFANG-->
    <div class="sortBtnDif">
      <button id="arr-left" class="arrow left" style="display: none;" onclick="scrollButtons(-1)">
        <img src="/img/zurueck.png" alt="Pfeil nach links" width="30px">
      </button>
      <div class="button-wrapper-filButs" id="buttonWrapper">
        <button class="mainPageFilBtns" onclick="openRecList('warm')">
          <img class="mainPageFilImages" src="/img/warm.png" alt="Filtere nach warmen Rezepten">
          <span>Warm</span>
        </button>
  
        <button class="mainPageFilBtns" onclick="openRecList('hrzhft')">
          <img class="mainPageFilImages" src="/img/herzhaft.png" alt="Filtere nach herzhaften Rezepten">
          <span>Herzhaft</span>
        </button>
  
        <button class="mainPageFilBtns" onclick="openRecList('vgtrsch')">
          <img class="mainPageFilImages" src="/img/veg.png" alt="Filtere nach vegetarischen Rezepten">
          <span>Vegetarisch</span>
        </button>
  
        <button class="mainPageFilBtns" onclick="openRecList('vorspeise')">
          <!--<img class="mainPageFilImages" src="/img/vorspeise.png" alt="Filtere nach Vorspeisen">-->
          <span class="noPadding"><bigPrefix>Vor-</bigPrefix><br>speise</span>
        </button>

        <button class="mainPageFilBtns" onclick="openRecList('hptgrcht')">
          <!--<img class="mainPageFilImages" src="/img/hauptspeise.png" alt="Filtere nach Hauptgerichten">-->
          <span class="noPadding"><bigPrefix>Haupt-</bigPrefix><br>gericht</span>
        </button>

        <button class="mainPageFilBtns" onclick="openRecList('nchtsch')">
          <!--<img class="mainPageFilImages" src="/img/nachspeise.png" alt="Filtere nach Nachspeisen">-->
          <span class="noPadding"><bigPrefix>Nach-</bigPrefix><br>speise</span>
        </button>

        <button class="mainPageFilBtns" onclick="openRecList('spp')">
          <img class="mainPageFilImages" src="/img/suppe.png" alt="Filtere nach Suppen">
          <span>Suppe</span>
        </button>
  
        <button class="mainPageFilBtns" onclick="openRecList('fsch')">
          <img class="mainPageFilImages" src="/img/fisch.png" alt="Filtere nach Rezepten, die Fisch enthalten">
          <span>Fisch</span>
        </button>
  
        <button class="mainPageFilBtns" onclick="openRecList('dips')">
          <img class="mainPageFilImages" src="/img/kanne.png" alt="Filtere nach Saucen und Dips">
          <span>Saucen und Dips</span>
        </button>
  
        <button class="mainPageFilBtns" onclick="openRecList('grtn')">
          <img class="mainPageFilImages" src="/img/auflauf.png" alt="Filtere nach Aufläufen">
          <span>Auflauf</span>
        </button>
  
        <button class="mainPageFilBtns" onclick="openRecList('kchn')">
          <img class="mainPageFilImages" src="/img/kuchen.png" alt="Filtere nach Kuchen">
          <span>Kuchen</span>
        </button>
  
        <button class="mainPageFilBtns" onclick="openRecList('brt')">
          <img class="mainPageFilImages" src="/img/broooot.png" alt="Filtere nach Brot und Brötchen">
          <span>Brot und Brötchen</span>
        </button>
  
        <button class="mainPageFilBtns" onclick="openRecList('ndl')">
          <img class="mainPageFilImages" src="/img/nudel.png" alt="Filtere nach Nudelgerichten">
          <span>Nudelgerichte</span>
        </button>
      </div>
      <button id="arr-right" class="arrow right" onclick="scrollButtons(1)">
        <img src="/img/weiter.png" alt="Pfeil nach rechts" width="30px">
      </button>
    </div>

    <!--Knöpfe Aktionen ANFANG-->
    <div class="actionBtnDif">
      <button id="addRec" onclick="buttaddrec()" class="mainPageBtns" >
        <img class="mainPageBtnImages" src="/img/plus.png" alt="Füge Rezepte hinzu">
        <span>Rezept hinzufügen</span>
      </button>

      <button  onclick="getAndShowAllRecs()" class="mainPageBtns">
        <img class="mainPageBtnImages" src="/img/alle.png" alt="Alle Rezepte anzeigen">
        <span>Alle Rezepte</span>
      </button>

      <button class="mainPageBtns" onclick="report()">
        <img src="/img/ausrufezeichen.png" class="mainPageBtnImages" alt="Profil">
        <span>Melden</span>

      <button class="mainPageBtns" onclick="openEditFriend()">
        <img src="/img/freunde.png" class="mainPageBtnImages" alt="Freunde">
        <span>Freunde</span>
      </button>

      <button  class="mainPageBtns" onclick="openEditCalender()">
        <img src="/img/cal.png" class="mainPageBtnImages" alt="Kochkalender">
        <span>Kalender</span>
      </button>

      <button class="mainPageBtns" onclick="openEditList()">
        <img src="/img/lists.png" class="mainPageBtnImages" alt = "Listen">
        <span>Listen</span>
      </button>
    </div>
        <!--Knöpfe Aktionen ENDE-->
  </div>
  <div id="listArea" class="split splitRight ">
    <div>
      <h2 class="splRiTxt">Deine Listen</h2>
      <hr class="hoLineSplitRight">
      <div class="dropdownsLists" id="dropdownsLists">

      </div>
    </div>
  </div>
</div>
<script src="/js/eventListenersOnMain.js"></script>
<script src="/js/loadAndDisplayLists.js"></script>