
<link rel="stylesheet" href="/css/verifcrecs.css">
<div class="mainverifyrecs">
    <div class="divings">
        <table class="beinhTable">
            <thead>
                <tr>
                    <th class="moreWidth">Neue Zutat</th>
                    <th>Bearbeiten und Verifizieren</th>
                    <th>Nicht Verifizieren</th>
                </tr>
            </thead>
            <tbody>
                <% if (data.ings && data.ings.length > 0) { %>
                    <% data.ings.forEach(ingredient => { %>
                        <tr>
                            <td><%= ingredient.ingredient %></td>
                            <td>
                                <form action="/addrec/verify/verifyIngredient" method="post" style="display:inline;">
                                    <input type="hidden" name="ingredient" value="<%= ingredient.ingredient %>">
                                    <input type="hidden" name="recid" value="<%= ingredient.recid%>">
                                    <input type="hidden" name="send" value='false'>
                                    <input type="hidden" id="usrid" name="usrid" value="">
                                    <input type="hidden" id="usrnm" name="usrnm" value="">
                                    <button type="submit">Verifizieren</button>
                                </form>
                            </td>
                            <td>
                                <form action="/addrec/verify/rejectIngredient" method="post" style="display:inline;">
                                    <input type="hidden" name="ingnameold" value="<%= ingredient.ingredient %>">
                                    <input type="hidden" name="recid" value="<%= ingredient.recid%>">
                                    <button type="submit">Nicht Verifizieren</button>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                <% } else { %>
                    <tr>
                        <td colspan="3">Keine unverifizierten Zutaten gefunden</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <div class="divrecs">
        <table class="beinhTable">
            <thead>
                <tr>
                    <th class="moreWidth">Neues Rezept</th>
                    <th>Anschauen</th>
                    <th>Nicht Verifizieren</th>
                </tr>
            </thead>
            <tbody>
                <% if (data.recs && data.recs.length > 0) { %>
                    <% data.recs.forEach(recipe => { %>
                        <tr>
                            <td><%= recipe.recname %></td>
                            <td>
                                <form action="/addrec/verify/verifyRecipe" method="post" style="display:inline;">
                                    <input type="hidden" name="recid" value="<%= recipe.recid %>">
                                    <input type="hidden" name="send" value=false>
                                    <input type="hidden" id="usrid" name="usrid" value="">
                                    <input type="hidden" id="usrnm" name="usrnm" value="">
                                    <button type="submit">Anschauen</button>
                                </form>
                            </td>
                            <td>
                                <form action="/addrec/verify/rejectRecipe" method="post" style="display:inline;">
                                    <input type="hidden" name="recid" value="<%= recipe.recid %>">
                                    <button type="submit">Nicht Verifizieren</button>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                <% } else { %>
                    <tr>
                        <td colspan="3">Keine unverifizierten Rezepte gefunden</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
<script>
    function getURLParameter(name) {
        return new URLSearchParams(window.location.search).get(name);
    }
    const usrid = getURLParameter('usrid');
    const usrnm = getURLParameter('usrnm');

    document.querySelectorAll('form[action="/addrec/verify/verifyIngredient"]').forEach(form => {
        form.querySelector('input[name="usrid"]').value = usrid;
        form.querySelector('input[name="usrnm"]').value = usrnm;
    });
    document.querySelectorAll('form[action="/addrec/verify/verifyRecipe"]').forEach(form => {
        form.querySelector('input[name="usrid"]').value = usrid;
        form.querySelector('input[name="usrnm"]').value = usrnm;
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        if (!localStorage.getItem('reloaded')) {
            localStorage.setItem('reloaded', 'true');
            location.reload();
        }else{
            localStorage.removeItem('reloaded');
        }
    });
</script>