<!--<link rel="stylesheet" href="/css/verifcrecs.css">-->
<div class="mainverify">
    <div class="inglbls">
        <div class="blk12">
            <div class="blk1">
                <%- include('./partials/blk1.ejs') %>
            </div>
        </div>
        <div class="blk3">
            <%- include('./partials/blk3.ejs') %>
        </div>
        <div class="siftright">
            <div class="verifybuts">
                <button class="verify" onclick="verifyIng('<%= usrnm %>','<%= usrid %>')" id="verifyIngBut">Zutat Bestätigen</button>
                <button class="reject" onclick="rejectIng('<%= usrnm %>','<%= usrid %>')">Zutat ablehnen</button>
            </div>
            <div class="ingedit">
                <input type="text" name="ingname" id="ingname" value="<%= data.ingredient %>">
                <input type="text" name="ingextra" id="ingextra" >
                <input type="hidden" id="ingnameold" value="<%= data.ingredient %>">
                <input type="hidden" id="send" value="true">
                <input type="hidden" id="recidverify" value="<%= data.recid %>">
            </div>
        </div>
    </div>
</div>
<script src="/js/verifyings.js"></script>
